@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Mate+SC&display=swap');

:root {
    --fonte-titulos: 'Audiowide', cursive;
    --fonte-corpo: 'Mate SC', serif;
    --fonte-size-titulos: 2.5rem;
    --fonte-size-subtitulo: 1.75rem;
    --fonte-size-corpo: 1.25rem; 
    --cor-itens-btn: #87FF65;
    --cor-titulos: #6583FE;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    display: block;
}

ul, li {
    list-style: none;
}

/**************** HEADER CABEÇALHO ****************/
.header {
    background-color: #010D63;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.logo {
    width: 250px;
}

.nav-item {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 2rem;
}

.menu-img {
    width: 50px;
    margin: 0 auto;
    margin-top: 1rem;
    display: none;
}

.nav-link {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    padding: 0.75rem 1.5rem;
    font-size: 1.25rem;
    color: #fff;
    box-shadow: 1px 1px 1px 1px #fff;
    font-family: var(--fonte-titulos);
    border-radius: 4px;
}

.nav-link:hover {
    box-shadow: 2px 2px 20px 2px #96031A;
    transition: all 0.6s;
}

.apresentacao {
    background-color:#010D63;
    display: flex;
    flex-wrap: wrap;
    gap: 9rem;
    align-items: center;
    justify-content: center;
    padding-top: 6rem;
    padding-bottom: 4rem;
}

.logo-apresentacao {
    width: 300px;
}

.info-conteudo {
    max-width: 500px;
}

.info-conteudo h1 {
    color: var(--cor-titulos);
    font-family: var(--fonte-titulos);
    font-size: var(--fonte-size-titulos);
    text-align: center;
}

.info-conteudo p {
    color: #fff;
    font-family: var(--fonte-corpo);
    font-size: var(--fonte-size-corpo);
    margin-top: 1.5rem;
    line-height: 1.4;
    letter-spacing: 1px;
}

/**************** MAIN CONTEÚDO ****************/
.main {
    background-image: url("./img/background-main.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 1000px; */
    margin-bottom: 20px;
    background-attachment: fixed;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    /* background-color: #a4b89f; */
}

.titulo-plano {
    text-align: center;
    padding-bottom: 5rem;
}

.titulo-plano h2 {
    font-family: var(--fonte-titulos);
    font-size: var(--fonte-size-titulos);
    color: var(--cor-titulos);
    padding: 1rem;
}

.titulo-plano h3 {
    font-family: var(--fonte-corpo);
    font-size: var(--fonte-size-subtitulo);
    color: #fff;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    perspective: 700px;
}

.titulo-fibra, .titulo-radio {
    font-family: var(--fonte-titulos);
    font-size: var(--fonte-size-titulos);
    text-align: center;
    margin-bottom: 4.5rem;
    color: #fff;
}

.titulo-radio {
    margin-top: 4.5rem;
}

.card-plano {
    padding: 2rem;
    transform: rotateX(4deg);
    box-shadow: 0px 0px 30px 0px #96031A;

    background: rgba(101, 131, 254, 0.51);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border: 1px solid rgba(101, 131, 254, 1);

}

.card-plano:hover {
    transform: rotateX(0deg);
    transition: all .6s;
    box-shadow: 1px 1px 1px 4px #fff;
}

.imgHeader {
    width: 200px;
    position: relative;
    bottom: 100px;
    margin: 0 auto;
}

.card-preco {
    box-shadow: 1px 1px 10px 1px #fff;
    border-radius: 20%;
}

.card-plano h2 {
    font-family: var(--fonte-titulos);
    font-size: var(--fonte-size-titulos);
    text-align: center;
    margin-top: -60px;
    color: #000;
    
}

.card-plano h3 {
    font-family: var(--fonte-corpo);
    font-size: var(--fonte-size-subtitulo);
    text-align: center;
    margin-bottom: 1.5rem;
    color: #fff;
    padding: 0.5rem;
}

.card-plano--info {
    display: flex;
    gap: .5rem;
    align-items: center;
}

.img-ico {
    width: 50px;
}

.card-plano p {
    font-family: var(--fonte-corpo);
    font-size: 1.5rem;
    color: #fff;
}

.card-plano a {
    font-family: var(--fonte-titulos);
    font-size: var(--fonte-size-subtitulo);
    background-color: #96031A;
    color: #fff;
    padding: 0.5rem;
    display: block;
    text-align: center;
    margin-top: 1rem;
    border-radius: 20%;
}

.card-plano a:hover {
    background-color: var(--cor-itens-btn);
    transition: all 0.6s;
    color: #000;
}

.radio {
    padding-bottom: 50px;
}

 /**************** TIRA DÚVIDAS - ACCORDION ****************/
 .duvidas {
     margin-top: -20px;
     background-color: #010D63;
     padding: 3rem 0rem;
 }

.duvidas-titulo {
    font-family: var(--fonte-titulos);
    font-size: var(--fonte-size-titulos);
    text-align: center;
    margin-bottom: .5rem;
    padding: 1rem;
    color: var(--cor-titulos);
}

.acordion {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.acordion--img {
    width: 450px;
}

.acordion-item {
    padding: 1rem;
    cursor: pointer; 
    width: 500px;
    margin: 0 auto;
}

.acordion-item summary {
    font-family: var(--fonte-corpo);
    font-size: 1.2rem;
    color: #000;
    background-color: var(--cor-titulos);
    padding: 1.5rem;
    border-radius: 1rem;
    text-align: center;
}

.acordion-item summary:hover {
    background-color: #fff;
    transition: all .6s;
    color: #000;
}

.acordion-item p {
    width: 500px;
    margin: 0 auto;
    padding: 1rem;
    font-family: var(--fonte-corpo);
    font-size: 1rem;
    line-height: 1.4;
    text-align: start;
    color: #fff;
}

.acordion-item a {
    font-family: var(--fonte-corpo);
    font-size: var(--fonte-size-corpo);
    background-color: #96031A;
    color: #fff;
    padding: 0.5rem;
    display: block;
    text-align: center;
    border-radius: 20%;
    width: 160px;
    margin: 4px auto;
}

.acordion-item a:hover {
    background-color: var(--cor-itens-btn);
    transition: all 0.6s;
    color: #000;
    font-weight: bold;
}

details[open] summary ~ * {
    animation: sweep .6s ease-in-out;
}

@keyframes sweep {
    from {
        opacity: 0;
        margin-top: -10px;
    }
    to {
        opacity: 1;
        margin-top: 0px;
    }
}
/**************** SECTION - SUPORTE ****************/
.suporte {
    padding: 3rem 0;
}

.s-caixas {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    /* align-items: center; */
    justify-content: center;
    
}

.caixa {
    max-width: 400px;
    text-align: center;
    padding: 1rem;
}

.caixa img {
    margin: 0 auto;
    width: 140px;
}

.caixa h3 {
    margin-top: 1rem;
    font-family: var(--fonte-corpo);
    font-size: var(--fonte-size-subtitulo);
}

.caixa p {
    margin-top: 0.5rem;
    font-family: var(--fonte-corpo);
    font-size: var(--fonte-size-corpo);
}

.caixa a {
    font-family: var(--fonte-corpo);
    font-size: var(--fonte-size-corpo);
    background-color: #96031A;
    color: #fff;
    padding: 0.5rem;
    display: block;
    text-align: center;
    border-radius: 20%;
    width: 120px;
    margin: 10px auto;
}

.caixa a:hover {
    background-color: var(--cor-itens-btn);
    transition: all 0.6s;
    color: #000;
    font-weight: bold;
}

/**************** SECTION - TESTE VELOCIDADE ****************/  
.teste {
    background-image: url("./img/background-teste.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
}

.speed-teste h2 {
    font-family: var(--fonte-corpo);
    font-size: var(--fonte-size-titulos);
    color: #fff;
    text-align: center;
    padding-top: 4rem;
    margin-bottom: 1rem;
}

.speed-teste a {
    font-family: var(--fonte-corpo);
    font-size: var(--fonte-size-corpo);
    background-color: #96031A;
    color: #fff;
    padding: 0.5rem;
    display: block;
    text-align: center;
    border-radius: 20%;
    width: 160px;
    margin: 10px auto;
}

.speed-teste a:hover {
    background-color: var(--cor-itens-btn);
    transition: all 0.6s;
    color: #000;
    font-weight: bold;
}

.speed-teste img {
    width: 60px;
}

/**************** SECTION - FOOTER ****************/  
.endereco {
    background-image: url("./img/background-footer.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 800px;
}

.end-bloco {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 800px;
    gap: 1rem;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.logo-footer {
    width: 420px;
}

.localizacao p {
    font-family: var(--fonte-corpo);
    font-size: var(--fonte-size-subtitulo);
    color: #fff;
}

.horario p {
    font-family: var(--fonte-corpo);
    font-size: var(--fonte-size-subtitulo);
    color: #fff;
}

.redes-socias {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
    margin-top: 1rem;
}

.redes-socias img {
    width: 40px;
    margin: 0 auto;
} 

.g-maps {
    background-color: #000;
    text-align: center;
}

.desenvolvedor {
    text-align: center;
    padding: 1rem;
    background-color: var(--cor-titulos);
}

.desenvolvedor p {
    margin-bottom: 0.5rem;
    font-family: var(--fonte-corpo);
    font-size: var(--fonte-corpo);
    font-weight: bold;
}

.desenvolvedor a {
    display: inline-block;
    font-size: 1rem;
    font-family: var(--fonte-titulos);
    padding: 0.5rem;
    color: #fff;
}

.desenvolvedor a:hover {
    background-color: var(--cor-itens-btn);
    border-radius: 6px;
    transition: all 0.6s;
    color: #000;
}

.desenvolvedor img {
    display: inline-block;
    width: 30px;
    margin-right: 5px;
}

.img-logo-primata {
    margin-left: 4px;
}

/**************** RESPONSIVIDADE ****************/

@media(max-width: 425px) {

    figure.logo {
        width: 260px;
    }

    .titulo-plano h3 {
        font-size: var(--fonte-size-corpo);
    }

    .cards {
        padding-top: 2rem;
    }

    .card-plano {
        width: 280px;
        margin-bottom: 50px;
        padding: 0.5rem;
        transform: rotateX(1deg);
    }


    .imgHeader  {
        width: 150px;
    }
    
    .card-plano h3 {
        font-family: var(--fonte-corpo);
        font-size: var(--fonte-size-subtitulo);
        text-align: center;
        margin-bottom: 1.5rem;
    }
    
    .card-plano p {
        font-family: var(--fonte-corpo);
        font-size: 1.25rem;
        text-align: center;
        color: #fff;
    }
    
    .card-plano a {
        font-family: var(--fonte-titulos);
        font-size: var(--fonte-size-corpo);
        width: 100px;
        margin: 1rem auto;
        
    }

    .duvidas-titulo {
        font-size: var(--fonte-size-subtitulo);
    }

    .acordion--img {
        width: 300px;
    }
    
    .logo-apresentacao {
        width: 240px;
        /* padding-top: 1rem; */
    }

    .info-conteudo h1 {
        font-size: var(--fonte-size-subtitulo);
        margin-top: -80px;
    }

    .info-conteudo p {
        font-size: 1rem;
        padding: 1rem;
        margin: 0 auto;
    }
    
    .acordion-item {
       width: 280px; 
       margin: 0 auto;
       padding: 0.5rem;
    }

    .acordion-item summary {
        font-size: 1.2rem;
    }

    .acordion-item p {
        width: 220px;
        padding: 0.5rem;
    }

    .speed-teste h2 {
        font-size: var(--fonte-size-corpo);
        padding: 0.5rem;
        margin-top: 0.5rem;
    }

    .end-bloco {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
        padding: 0.5rem;
        
    }

    .localizacao p {
        color: var(--cor-titulos);
        text-align: center;
        font-size: 1.35rem;
    }

    .horario p {
        text-align: center;
        font-size: 1.35rem;
        color: #fff;
    }

    .g-maps iframe {
        width: 320px;
    }

}

@media(min-width: 425px) and (max-width:1023px) {
    .acordion-item {
        width: 400px;
    }

    .acordion-item p {
        font-size: 1.5rem;
        width: 400px;
    }

    .end-bloco {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
        padding: 0.5rem;
        
    }

    .logo-footer {
        margin: 0 auto;
    }

    .localizacao p {
        color: var(--cor-titulos);
        text-align: center;
        font-size: 1.35rem;
    }

    .horario p {
        text-align: center;
        font-size: 1.35rem;
        color: #fff;
    }

    .g-maps iframe {
        width: 420px;
    }

    .cards fibra {
        height: 1200px;
    }

    .titulo-plano h2 {
        font-size: var(--fonte-size-subtitulo);
    }

    .titulo-plano h3 {
        font-size: var(--fonte-size-corpo);
        padding: 1rem;
    }

    .card-plano {
        width: 320px;
        padding: 1rem;
        margin-bottom: 2rem;
    }

    .card-plano:nth-child(3) {
        margin-bottom: 2rem;
    }

    .speed-teste h2 {
        font-size: var(--fonte-size-corpo);
        padding: 0.5rem;
        margin-top: 0.5rem;
    }
}

@media(max-width: 700px) {
    .menu-img {
        display: block;
    }

    .nav-item {
        display: none;
    }

    .nav-item.ativo {
        display: flex;
        justify-content: center;
    }
}

@media(max-width: 425px) {
    .nav-item.ativo {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
    }
}

